{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "Chrome >= 60",
            "Safari >= 10.1",
            "iOS >= 10.3",
            "Firefox >= 54",
            "Edge >= 15"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["ramda", {
      "useES": true
    }],
    "@babel/proposal-class-properties"
  ]
}
