.product__card {
  padding: 2rem;
  flex: 1 16.66%;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: hsl(200, 43%, 99%);
  text-align: center;
  box-shadow: 0 0 2px -1px hsla(200, 0%, 20%, 0.8);
}

@media (max-width: 1024px) {
  .product__card {
    flex: 1 20%;
  }
}

@media (max-width: 768px) {
  .product__card {
    flex: 1 25%;
  }
}

@media (max-width: 480px) {
  .product__card {
    flex: 1 50%;
  }
}

.product__img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.product__info {
  margin-top: auto;
}

.product__title {
  color: hsla(200, 14%, 31%);
  margin-top: 0.5rem;
}

.product__price {
  font-weight: bold;
  display: block;
  color: hsla(200, 0%, 20%);
  margin-top: 0.25rem;
}
