.product__card {
  padding: 2%;
  flex: 1 16%;
  display: flex;
  flex-flow: column nowrap;
  background-color: hsl(200, 43%, 99%);
  text-align: center;
  box-shadow: 0 0 2px -1px hsla(200, 0%, 20%, 0.8);
}

@media (max-width: 920px) {
  .product__card {
    flex: 1 21%;
  }
}

@media (max-width: 600px) {
  .product__card {
    flex: 1 46%;
  }
}

.product__img {
  width: 100%;
  margin-bottom: 1rem;
}

.product__info {
  margin-top: auto;
}

.product__title {
  color: hsla(200, 14%, 31%);
  margin-top: 0.5rem;
}

.product__price {
  font-weight: bold;
  display: block;
  color: hsla(200, 0%, 20%);
  margin-top: 0.25rem;
}
